<h1>Show meeting</h1>

<div class="table table-bordered">
    <table>
        <thead class="thead-dark">
            <tr>
                <th>Meeting date</th>
                <th>Home team</th>
                <th>Away team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @meeting.meeting_date %></td>
                <td><%= @meeting.home_team %></td>
                <td><%= @meeting.away_team %></td>
            </tr>
        </tbody>
    </table>
</div>


